.hidden {
    display: none!important;
}


/* Top  Section (logo and profile button) for all admin pages */

.header {
    height: 72px;
    width: 100%;
    border-bottom: 2px solid #ccc;
}

.header .logo {
    height: 72px;
    /* width: 288px - fixed width */
    width: 288px;
    line-height: 72px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    background-image: linear-gradient(100deg, #1c5de7, #1c91e7);
    border-bottom: 2px solid #18202e;
}

.header .logo i {
    font-weight: 400;
    font-style: normal;
}

.header .info {
    /* margin-left: 288px - shift this div to the right by 288px to make it shown next to FLOATED logo */
    margin-left: 288px;
    height: 72px;
    min-width: 738px;
    border-bottom: 2px solid #ccc;
}

.header .info .profile {
    width: 160px;
    height: 70px;
    cursor: pointer;
    margin-right: 50px;
    font-size: 14px;
    background-color: #fff;
}

.header .info .profile-btn {
    /* this is a span element */
    display: block;
    /* profile width */
    width: 100%;
    /* header height fixed */
    height: 70px;
    line-height: 70px;
    text-align: right;
    padding-right: 30px;
    /* add transition for hover effect */
    transition: all .2s;
}

.profile-btn:after {
    content: "\f0d7";
    font-family: 'icomoon';
    font-size: 12px;
    vertical-align: middle;
}

.header .info .profile-btn:hover {
    background-color: #f9f9f9;
}

.profile-dropdown-menu {
    position: relative;
    display: block;
    margin-top: 2px;
    padding: 5px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 2px 2px 15px 0 rgba(40, 42, 49, .16);
    z-index: 100;
}

.profile-dropdown-menu li a {
    display: block;
    padding: 3px 20px;
    color: #000;
}

.profile-dropdown-menu li a:hover {
    background-color: #f9f9f9;
}


/* --Top Heading Section (logo and profile button) for all admin pages */


/* Bottom Content Section (left side menu and right content area)  for all admin pages*/

.content {
    /* below code places content area at right position, otherwise it will lay under the FLOATED logo  */
    /* position: fixed;
    left: 0;
    right: 0;
    top: 72px;
    bottom: 0; */
    margin-top: -72px;
    height: 100%;
    padding-top: 72px;
}


/* Side Menu */

.aside {
    /* position: relative - for copyright's absolute position */
    position: relative;
    width: 288px;
    height: 100%;
    background-color: #18202e;
    color: #fff;
    padding-top: 45px;
}


/* --Side Menu */


/* Side Menu nav */

.aside .menu-item a {
    display: block;
    height: 50px;
    line-height: 50px;
    padding-left: 30px;
    font-size: 14px;
    color: #919bae;
    border-left: 5px solid transparent;
}

.aside .menu-item a:hover {
    border-left: 5px solid #1c91e7;
    background: rgba(80, 80, 80, .1);
    color: #fff;
}

.aside .menu-item .active {
    border-left: 5px solid #1c91e7;
    color: #fff;
}

.icon-users:after {
    content: "\e901";
    font-family: 'icomoon';
    margin-right: 10px;
}

.icon-posts:after {
    content: "\e900";
    font-family: 'icomoon';
    margin-right: 10px;
}


/* --Side Menu nav */


/* Side Menu copyright */

.aside .copyright {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 40px;
    line-height: 40px;
    width: 100%;
    text-align: center;
    background-color: #1d2432;
}


/* --Side Menu copyright */

.aside .copyright a {
    color: #3563c7;
}

.aside .copyright a:hover {
    color: #1748b3;
}


/* Main Users Content */

.main {
    box-sizing: border-box;
    margin-left: 288px;
    height: 100%;
    min-width: 738px;
    padding: 30px;
    background-color: #fafafb;
}


/* --Main Users Content */


/* Main Users Content heading area */

.main .title {
    margin-bottom: 20px;
    position: relative;
}

.main .title h4 {
    font-size: 22px;
    font-weight: 700;
}

.main .title span {
    color: #787e8f;
}

.main .title p {
    background-color: #f2dede;
    padding: 10px 15px;
    color: #333;
}


/* --Main Users Content heading area */


/* -- Bottom Section (left side menu and right content area)  for all admin pages*/


/* Add User Button for /admin/user page */

.btn-add {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
    font-size: 16px;
    padding: 10px 15px;
    background-color: #037ac4;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.btn-add:hover {
    color: #fff;
    background-color: #014b79;
}


/* --Add User Button for /admin/user page */


/* Add Table Style for /admit/user & /admin/post pages*/

table,
th,
td {
    border: 1px solid #ccc;
    /* merge cell borders */
    border-collapse: collapse;
    padding: 8px 10px;
    text-align: left;
}

table {
    width: 100%;
    background-color: #fff;
    margin-bottom: 20px;
}

thead th {
    border-bottom: 2px solid #ccc;
}

tbody tr:nth-child(2n-1) {
    /* striped color pattern */
    background-color: #f8f8f8;
}

tbody tr:hover {
    background-color: #f2f2f2;
}


/* --Add Table Style for /admin/user & /admin/post pages */


/* Edit and Delete Buttons for /admin/post and /admin/user pages*/

.icon-edit:after {
    content: "\f044";
    font-family: 'icomoon';
    margin-right: 3px;
    color: #037ac4;
    cursor: pointer;
}

.icon-remove:after {
    content: "\f00d";
    font-family: 'icomoon';
    margin-right: 3px;
    cursor: pointer;
}


/* --Edit and Delete Buttons for /admin/post and /admin/user pages*/


/* User List Pagination for /admin/post and /admin/user pages*/

.main .pagination {
    overflow: hidden;
}

.pagination li {
    display: inline;
}

.pagination li a {
    display: block;
    float: left;
    padding: 6px 12px;
    border: 1px solid rgb(230, 230, 230);
    background-color: #fff;
    color: #037ac4;
}

.pagination li a:hover {
    background-color: rgb(233, 233, 233);
}

.pagination li:first-child a {
    border: 1px solid rgb(230, 230, 230);
    border-radius: 3px 0 0 3px;
}

.pagination li:nth-child(n+2) a {
    border-left: 0;
}

.pagination li:last-child a {
    border-radius: 0 3px 3px 0;
}

.pagination .active {
    color: #ff7300!important;
}
/* --User List Pagination for /admin/post and /admin/user pages*/


/* Add Edit Form Style for /admin/user-edit & /admin/post-edit pages */

.edit-form-container {
    padding: 20px;
    background-color: #fff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.edit-form-group {
    position: relative;
    width: 100%;
    padding-top: 20px;
    margin-bottom: 20px;
}

.edit-form-group .edit-form-input {
    display: block;
    box-sizing: border-box;
    height: 35px;
    width: 100%;
    padding-left: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
}

.edit-form-group .edit-form-input:focus,
.edit-form-group select:focus {
    border: 1px solid #1c91e7;
    box-shadow: 0 0 8px rgba(28, 145, 231, 0.3);
}

input[readonly] {
    background-color: #eee;
    cursor: not-allowed;
}

.edit-form-group label {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 700;
}

.thumbnail-wraper {
    margin-top: 15px;
    /* height: 400px; */
}

.img-thumbnail {
    height: 400px;
    padding: 4px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.btn-submit {
    display: block;
    color: #fff;
    font-size: 16px;
    padding: 10px 15px;
    background-color: #037ac4;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.btn-submit:hover {
    color: #fff;
    background-color: #014b79;
}


/* --Add Edit Form Style for /admin/user-edit & /admin/post-edit pages */


/* Modal */

.modal {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.show {
    display: block !important;
}

.modal-content {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
    min-width: 400px;
    min-height: 150px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    padding: 5px 10px;
}

.modal-header {
    border-bottom: 1px solid #ccc;
}

.modal-title {
    height: 35px;
    font-size: 18px;
    line-height: 35px;
}

.modal-close {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 18px;
    color: #aaa;
    background-color: transparent;
    cursor: pointer;
}

.modal-body {
    padding-bottom: 8px;
    border-bottom: 1px solid #ccc;
}

.modal-body p {
    font-size: 18px;
}

.modal-footer {
    float: right;
    padding-top: 8px;
}

.modal-btn {
    color: #fff;
    font-size: 16px;
    padding: 10px 15px;
    background-color: #037ac4;
    border-radius: 5px;
    border: 1px solid transparent;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    margin-left: 3px;
    cursor: pointer;
}

.modal-btn-light {
    color: #000;
    background-color: #fff;
    border: 1px solid #aaa;
}

.modal-btn:hover {
    color: #fff;
    background-color: #014b79;
}