* {
    box-sizing: border-box;
}

body,
ul,
h1,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}

i {
    font-style: normal;
}

body {
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    background: #f5f5f5;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
    transition: all 0.2s;
}

a:hover {
    color: #ff7300;
}

input,
textarea {
    border: 1px solid #ccc;
    outline: none;
    color: #555;
    font-family: inherit;
}

input {
    padding: 0;
}

textarea {
    padding: 10px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.pr {
    position: relative;
}

.pa {
    position: absolute;
}

.mb10 {
    margin-bottom: 10px;
}

.w1200 {
    max-width: 1200px;
    min-width: 800px;
    margin: auto;
}

.show {
    display: block!important;
}

.hidden {
    display: none!important;
}
